# Compiled files

*.exe
*.out
*.o
*.obj
*.class

# Debug files

*.log

# VS Code settings

.vscode/

# Build folders

build/
bin/

# Temporary files

*.tmp
*.temp
*.swp

# OS files

.DS_Store
Thumbs.db
